.expenseForm {
    width: 600px;
    margin: auto;
}
.expenseFormHeading {
    font-family: montserrat;
    font-size: 20pt;
    text-align: center;
    color: darkgray;
    padding: 4px;
}
.errors {
    font-family: montserrat;
    font-size: 12pt;
    text-align: left;
    color: lightcoral;
}
.expenseFormLabel {
    font-family: montserrat;
    font-size: 12pt;
    text-align: left;
    color: darkgray;
    padding: 4px;
}
.expenseFormNormal {
    width: 90%;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 4px;
    box-shadow: 2px 2px lightgray;
    margin: 10px;
    font-family: montserrat;
    font-size: 12pt;
    text-align: left;
    color: darkgray;
}
.expenseFormButton {
    width: 200px;
    height: 50px;
    padding: 4px;
    background-color: lightblue;
    border: 2px solid lightblue;
    border-radius: 4px;
    box-shadow: 2px 2px lightgray;
    margin: 10px;
    cursor: pointer;
    font-family: montserrat;
    font-size: 14pt;
    text-align: center;
    color: white;
}
.expenseFormButton:hover {
    background-color: lightskyblue;
}
