.homePage {
    display: flex;
    justify-content: flex-start;
}
.mainContent {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .homePageText {

}
.homePageImages {

}
.homePageImage {

} */
