.homePage {
    display: flex;
    justify-content: center;
}
.mainContent {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    max-width: 1200px;
}
.homePageText {
    font-family: montserrat;
    font-size: 20pt;
    text-align: center;
    color: darkgray;
    font-weight: bold;
}
.homePageImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.homePageImages img {
    width: 400px;
    height: 400px;
    margin: 20px;
    animation: rotateImage 30s linear infinite;
}
@keyframes rotateImage {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
