.expenseCommentsIndexHeading {
    font-family: montserrat;
    font-size: 16pt;
    text-align: left;
    color: darkgray;
    font-weight: bold;
}
.expenseCommentsIndex {
    margin: 20px;
    list-style-type: none;
}
