.friendIndex {
    display: flex;
    justify-content: center;
    margin-left: 250px;
    margin-right: 250px;
}
.mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    list-style-type: none;
}
.addFriendButton {
    display: flex;
    justify-content: center;
}
.friends {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    list-style-type: none;
}
.friendIndexImage {
    margin-top: 100px;
    animation: flipImage 20s linear infinite;;
}
@keyframes flipImage {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(-1);
    }
}
