.friendIndex {
    display: flex;
    justify-content: center;
}
.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    list-style-type: none;
}
