.expenseDetails {
    display: flex;
    justify-content: center;
}
.mainContentDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}
.updateExpenseButton {
    width: 132px;
    height: 37px;
    padding: 4px;
    background-color: lightblue;
    border: 2px solid lightblue;
    border-radius: 4px;
    box-shadow: 2px 2px lightgray;
    margin: 4px;
    cursor: pointer;
    font-family: montserrat;
    font-size: 12pt;
    text-align: center;
    color: white;
}
.updateExpenseButton:hover {
    opacity: 0.8;
}
.expenseDetailsBillSettled {
    font-family: montserrat;
    font-size: 14pt;
    text-align: left;
    color: darkgray;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.expenseDetailsExpenseDate {
    font-family: montserrat;
    font-size: 14pt;
    text-align: left;
    color: darkgray;
    display: flex;
    justify-content: center;
}
.expenseDetailsDescription {
    font-family: montserrat;
    font-size: 20pt;
    text-align: left;
    color: darkgray;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.expenseDetailsLender{
    font-family: montserrat;
    font-size: 20pt;
    text-align: left;
    color: darkslategray;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.expenseDetailsInfo{
    font-family: montserrat;
    font-size: 14pt;
    text-align: left;
    color: darkgrey;
    margin-left: 60px;
    list-style-type: none;
    display: flex;
    justify-content: left;
}
