.eachPayment {
    width: 320px;
    height: 140px;
    padding: 10px;
    background-color: lightgray;
    border: 2px solid lightblue;
    border-radius: 10px;
    box-shadow: 5px 5px lightblue;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.eachPayment:hover {
    opacity: 0.5;
}
.paymentCreatedAt {
    font-family: montserrat;
    font-size: 14pt;
    text-align: center;
    color: white;
}
.paymentBorrowed {
    font-family: montserrat;
    font-size: 14pt;
    text-align: center;
    color: lightcoral;
    font-weight: bold;
}
.paymentLent {
    font-family: montserrat;
    font-size: 14pt;
    text-align: center;
    color: white;
}
.paymentSettled {
    font-family: montserrat;
    font-size: 14pt;
    text-align: center;
    color: darkgrey;
}
