.paymentIndex {
    display: flex;
    justify-content: center;
    margin-left: 250px;
    margin-right: 250px;
}
.mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    list-style-type: none;
}
.noPayment {
    font-family: montserrat;
    font-size: 20pt;
    color: darkgray;
    font-weight: bold;
}
.paymentIndexImage {
    margin-top: 50px;
    animation: rotateImage 20s linear infinite;;
}
@keyframes rotateImage {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
