.eachFriend {
    width: 200px;
    height: 120px;
    padding: 10px;
    background-color: lightgray;
    border: 2px solid lightblue;
    border-radius: 10px;
    box-shadow: 5px 5px lightblue;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.eachFriend:hover {
    opacity: 0.5;
}
.friendUsername {
    font-family: montserrat;
    font-size: 20pt;
    text-align: center;
    color: white;
    font-weight: bold;
}
