.openModalMenuButton {
    width: 120px;
    height: 25px;
    padding: 4px;
    background-color: lightblue;
    border: 2px solid lightblue;
    border-radius: 4px;
    box-shadow: 2px 2px lightgray;
    margin: 4px;
    cursor: pointer;
    font-family: montserrat;
    font-size: 12pt;
    text-align: center;
    color: white;
    list-style-type: none;
}
.openModalMenuButton:hover {
    opacity: 0.8;
}
